/* .edit-home{
    color: red;
    font-weight: 700;
    background-color: orange;
    padding: 1px 12px;
    border-radius: 4px;
}
.img-test{
    width: 250px;
    height: 250px;
    border-radius: 6px;
} */